<menu>
    <button type="button" class="btn btn-outline-secondary"><a href="{% url 'home' %}">Главная</a></button>
    <button type="button" class="btn btn-outline-secondary"><a href="{% url 'page2' %}">Линейные графики</a></button>
    <button type="button" class="btn btn-outline-secondary"><a href="{% url 'page3' %}">Столбчатые диаграммы</a></button>
    <button type="button" class="btn btn-outline-secondary"><a href="{% url 'page4' %}">Круговые диаграммы</a></button>
    <button type="button" class="btn btn-outline-secondary"><a href="{% url 'page5' %}">Гистограммы</a></button>
    <button type="button" class="btn btn-outline-secondary"><a href="{% url 'page6' %}">Точечные графики</a></button>
    <button type="button" class="btn btn-outline-secondary"><a href="{% url 'page7' %}">Пузырьковые графики</a></button>
    <button type="button" class="btn btn-outline-secondary"><a href="{% url 'page8' %}">Диаграммы потока</a></button>
</menu>