{% extends 'main\layoute.html' %}

{% block title %}
    <title>{{caption}}</title>
{% endblock %}

{% block content %}
    <h2>{{caption}}</h2>
    <br>
    <br>
    <br>
    <p>
        Далее подробное описание {{caption}} с примерами использования, анализа и иллюстрациями

    </p>
    <br>
    <br>
    <br>
    <p>
        На странице сайта представлен ряд диаграмм, каждая из которых иллюстрирует ключевые аспекты нашего исследования.
        <span class="highlight">Первая диаграмма</span>, круговая, демонстрирует распределение ответов респондентов по основным категориям, что позволяет наглядно увидеть преобладающее мнение.
    </p>
    <br>
    <br>
    <br>
    <p>
        <span class="highlight">Вторая диаграмма</span>, столбчатая, сравнивает результаты двух различных групп, подчеркивая значительные различия в восприятии и оценках.
    </p>
    <br>
    <br>
    <br>
    <p>
        <span class="highlight">Третья диаграмма</span>, линейная, отображает динамику изменений по выбранным показателям за последние три года, что дает возможность анализировать тренды и делать прогнозы на будущее.
    </p>
    <br>
    <br>
    <br>
    <p>
        Каждая визуализация снабжена подробными подписями и комментариями, которые помогают лучше понять представленные данные.
        Интерактивный элемент сайта позволяет пользователям наводить курсор на диаграммы для получения дополнительной информации.
    </p>
    <br>
    <br>
    <br>
    <p>
        Это не только делает процесс ознакомления с материалом более увлекательным, но и способствует более глубокому анализу.
        Надеемся, что представленные диаграммы станут полезным инструментом для исследователей и заинтересованных пользователей, предоставляя ясность и структурированность в обширном массиве информации.
    </p>
{% endblock %}